body {
    background-color: black;
}

.page {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ball {
    width: 8rem;
    height: 8rem;
    background-color: rgba(247, 247, 129, 0.767);
    border-radius: 50%;
    animation: fadeIn 2.3s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

